@model IEnumerable<PublicEstateViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <td>
                Description
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var estate in Model)
        {
            <tr>
                <td>
                    @estate.Description
                </td>
            </tr>
        }
    </tbody>
</table>