@model EstatesListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Description
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var estate in Model.Estates)
        {
        <tr>
            <td>
                @estate.Id
            </td>
            <td>
                @estate.Description
            </td>
        </tr>
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="Index"></div>