@model PublicEstateViewModel

<div class="card card-outline-primary m-1 p-1 well">   
        <div class="bg-faded p-1">  
            <img src="~/images/estates/@Model.ImageAddress" />
            <h4>@Model.Id</h4>    
        </div>    
    <div class="card-text p-1">@Model.Description</div> 
</div>
